CYPRUS_HOLIDAYS_CALENDAR_ID="en-gb.cy#holiday@group.v.calendar.google.com"
VOLLEY_CALENDAR_ID=e0vr0gt3jqlhq9lpvbk86ih5ng@group.calendar.google.com
GOOGLE_SERVICE_ACCOUNT_EMAIL=augmented-tract-635@appspot.gserviceaccount.com

TELEGRAM_TOKEN=__your-bot-token-here__

SHUTTERSTOCK_LOGIN=__shutterstock-login__
SHUTTERSTOCK_PASSWORD=__shutterstock-pass__

POLL_RECIPIENT_ID=__telegram-supergroup-id__

TAGS_FOR_SHUTTERSTOCK="volleyball girls"